*.bak
*.bck
*.swp
/cpld/synth/_ngo/
/cpld/synth/_xmsgs/
/cpld/synth/iseconfig/
/cpld/synth/*.bld
/cpld/synth/*.chk
/cpld/synth/*.cmd_log
/cpld/synth/*.cxt
/cpld/synth/*.gise
/cpld/synth/*.gyd
/cpld/synth/*.jed
/cpld/synth/*.log
/cpld/synth/*.lso
/cpld/synth/*.mfd
/cpld/synth/*.nga
/cpld/synth/*.ngc
/cpld/synth/*.ngd
/cpld/synth/*.ngr
/cpld/synth/*.pad
/cpld/synth/*.pnx
/cpld/synth/*.prj
/cpld/synth/*.rpt
/cpld/synth/*.syr
/cpld/synth/*.tim
/cpld/synth/*.tspec
/cpld/synth/*.vm6
/cpld/synth/*.xml
/cpld/synth/*.xst
/cpld/synth/*.html
/cpld/synth/*_html/
/cpld/synth/*.xrpt
/cpld/synth/*.csv
/cpld/synth/*.html
/cpld/synth/*.prj
/cpld/synth/*.xrpt
/cpld/synth/*.lfp
/cpld/synth/*.nlf
/cpld/synth/*.ibs
/cpld/synth/*.stx
/cpld/synth/netgen/*
/cpld/synth/*
/cpld/synth/tmperr.err
/cpld/synth/xlnx_auto_0_xdb/
/cpld/synth/xst/